$primary-color: #2c4959;
$dark-color: #0f4c75;
$light-color: #bbe1fa;
$balance-color: #3282b8;
$secondary-gradient-color-1: #2869b3;
$secondary-gradient-color-2: #0a2647;
$tertiary-gradient-color-1: #2fa4ff;
$tertiary-gradient-color-2: #2fa5ff96;
$shadow-btn-color: #000;
$color-white: #fff;
$color-grey: #777;
$color-grey-dark: #999;
$color-grey-light: #f7f7f7;
$color-grey-text: #b2b2b2;
$color-green: #2fd442;
$color-red: #ff1919;
