.d-center-text {
    text-align: center;
}
.d-margin-bottom-huge {
    margin-bottom: 9rem;
}
.d-margin-bottom-medium {
    margin-bottom: 5rem;
}
.d-margin-bottom-small {
    margin-bottom: 1.5rem;
}
.d-margin-top-huge {
    margin-top: 9rem;
}
.d-margin-top-medium {
    margin-top: 5rem;
}
.d-display-none {
    display: none;
}
.d-transtion {
    transition: all 0.4s;
}
